<!--header-->
<div>
  <app-header></app-header>
</div>

<!--body-->
<div class="contenedor">
  <div class="contenedor2">
    <app-modal></app-modal>
  </div>


  <div class="table-container">
    <table class="table-rwd">
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Color</th>
        <th>Talla</th>
        <th>Descripcion</th>
        <th>Editar</th>
        <th>Eliminar</th>
      </tr>
      @for (prod of producto; track prod._IdProducto) {
      <tr>
        <td>{{prod._IdProducto}}</td>
        <td>{{prod._NombreProducto}}</td>
        <td>{{prod._MarcaProducto}}</td>
        <td>{{prod._ModeloProducto}}</td>
        <td>{{prod._ColorProducto}}</td>
        <td>{{prod._TallaProducto}}</td>
        <td>{{prod._DescripcionProducto}}</td>
        <td><p-button label="Editar" class="w-full" styleClass="w-full"/></td>
        <td><p-button label="eliminar" class="w-full" styleClass="w-full"/></td>
      </tr>
      }@empty {<p>No existen Productos</p>}
    </table>
  </div>

</div>
<!---footer-->
<div class="footer">
  <app-footer></app-footer>
</div>

