<footer class="bg-transparent absolute w-full bottom-0 left-0 z-30">
  <div class="container p-5 mx-auto  flex items-center justify-between ">
    <div class="flex mr-auto">
      <ul class="flex items-center gap-4">
        <p class="block antialiased font-sans text-sm leading-normal font-normal text-inherit">Marcelo Acuña © 2024,
          Todos los derechos reservados <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
            aria-hidden="true" class="-mt-0.5 inline-block h-3.5 w-3.5"></svg></p>
      </ul>
    </div>

  </div>
</footer>