<form [formGroup]="productoForm" (submit)="handleSubmit()">
    <fieldset>
      <div>
        <label for="nombre"  class="required" >Nombre Producto:</label>
        <input type="text" id="nombre" formControlName ="nombre">
        @if(nombre.hasError("required") && nombre.touched)
        {
           <p class="form-error">Nombre es requerido</p>
        }
        @else if (nombre.hasError("minLength") && nombre.touched) 
        {
          <p class="form-error">minimo largo de 3 caracteres</p>
        }
        @else if (nombre.hasError("maxLength") && nombre.touched) 
        {
          <p class="form-error">maximo largo de 20 caracteres</p>
        }
      </div>
    </fieldset>
  
      <fieldset>
      <div>
        <label for="Marca" class="required">Marca:</label>
        <input type="text" id="marca" formControlName="marca">
        @if(marca.hasError("required") && marca.touched)
        {
           <p class="form-error">Marca es requerido</p>
        }
        @else if (marca.hasError("minLength") && marca.touched) 
        {
          <p class="form-error">minimo largo de 3 caracteres</p>
        }
        @else if (marca.hasError("maxLength") && marca.touched) 
        {
          <p class="form-error">maximo largo de 20 caracteres</p>
        }
      </div>
      </fieldset>
  
      <fieldset>
      <div>
        <label for="Modelo" class="required">Modelo:</label>
        <input type="text" id="modelo" formControlName="modelo">
        @if(modelo.hasError("required") && modelo.touched)
        {
           <p class="form-error">Modelo es requerido</p>
        }
        @else if (modelo.hasError("minLength") && modelo.touched) 
        {
          <p class="form-error">minimo largo de 3 caracteres</p>
        }
        @else if (modelo.hasError("maxLength") && modelo.touched) 
        {
          <p class="form-error">maximo largo de 20 caracteres</p>
        }
      </div>
    </fieldset>
  
    <fieldset>
      <div>
        <label for="color" class="required">Color:</label>
        <input type="text" id="color" formControlName="color">
        @if(color.hasError("required") && color.touched)
        {
           <p class="form-error">Color es requerido</p>
        }
        @else if (color.hasError("minLength") && color.touched) 
        {
          <p class="form-error">minimo largo de 3 caracteres</p>
        }
        @else if (color.hasError("maxLength") && color.touched) 
        {
          <p class="form-error">maximo largo de 20 caracteres</p>
        }
      </div>
    </fieldset>
  
    <fieldset>
      <div>
        <label for="talla" class="required">Talla:</label>
        <input type="number" id="talla" formControlName="talla">
        @if(talla.hasError("required") && talla.touched)
        {
           <p class="form-error">Talla es requerido</p>
        }
        @else if (talla.hasError("min") && talla.touched) 
        {
          <p class="form-error">minimo 1</p>
        }
        @else if (talla.hasError("max") && talla.touched) 
        {
          <p class="form-error">maximo 70 </p>
        }
      </div>
    </fieldset>
  
    <fieldset>
      <div>
        <label for="descripcion" class="required" class="inline">Descripcion:</label>
        <input id="descripcion" type="text" formControlName="descripcion">
        @if(descripcion.hasError("required") && descripcion.touched)
        {
           <p class="form-error">Descripcion es requerido</p>
        }
        @else if (descripcion.hasError("minLength") && descripcion.touched) 
        {
          <p class="form-error">minimo largo de 3 caracteres</p>
        }
        @else if (descripcion.hasError("maxLength") && descripcion.touched) 
        {
          <p class="form-error">maximo largo de 200 caracteres</p>
        }
      </div>
    </fieldset>
  
    <div class="buttoncrear">
      <button [disabled]="productoForm.invalid">Crear Producto</button>
    </div>
    </form>