<body>

      <div class="form">
          <form  [formGroup]="productoForm" (ngSubmit)="edit ? updateProducto() : createProducto()">

              <div class="input-group">
                  <div class="input-box">
                      <label for="nombre">Nombre Producto</label>
                      <input id="nombre" type="text" pInputText formControlName="_NombreProducto" placeholder="Nombre Producto" required>
                  </div>

                  <div class="input-box">
                      <label for="Marca">Marca</label>
                      <input id="marca" type="text"  pInputText formControlName="_MarcaProducto" placeholder="Marca" required>
                  </div>
                  <div class="input-box">
                      <label for="modelo">Modelo</label>
                      <input id="modelo" type="text" pInputText formControlName="_ModeloProducto" placeholder="Modelo" required>
                  </div>

                  <div class="input-box">
                    <label for="color">Color</label>
                    <input id="color" type="text" pInputText formControlName="_ColorProducto" placeholder="Color" required>
                </div>

                  <div class="input-box">
                      <label for="talla">Talla</label>
                      <input id="talla" type="number" inputId="integeronly" formControlName="_TallaProducto" placeholder="Talla" required>
                  </div>

                  <div class="input-box">
                      <label for="descripcion">Descripcion</label>
                      <input id="descripcion" type="text"  pInputText formControlName="_DescripcionProducto"  placeholder="Descripcion" required>
                  </div>
              </div>

              
              <div class="flex gap-2">
                <p-button label="Guardar" [loading]="isSaveInProgress" type="submit" />
              </div>
          </form>
      </div>
</body>